#calculator
{
   width: 300px;
   margin: 0 auto;
}
#keypad td
{
   width: 70px;
   height: 70px;
   padding: 0 5px;
}

#keypad button
{
   width: 100%;
   height: 100%;
}

#txtDisplay
{
   background-color: #ffe;
   margin-left: 2px;
   padding: 0 10px;
   width: 275px;
   height: 30px;
   text-align: right;
   font-family: monospace;
   font-size: x-large;
   font-weight: bold;
   color: black;

}
